 <div class="row mt-5">
  <div class="col-6 offset-3">
    <h2 class="text-center mb-4">入力確認画面</h2>
     <div class="row">
      <table class="table">
        <tbody>
          <tr>
            <th class="text-center">お名前</th>
            <td><%= @contact.name %></td>
          </tr>
          <tr>
            <th class="text-center">メールアドレス</th>
            <td><%= @contact.email %></td>
          </tr>
          <tr>
            <th class="text-center">お問い合わせ件名</th>
            <td><%= @contact.subject %></td>
          </tr>
          <tr>
            <th class="text-center">お問い合わせ内容</th>
            <td class="text-break"><%= @contact.message %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center my-5">
        <%= form_for(@contact) do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.submit "送信", class: "btn btn btn-success mx-3" %></div>
        <% end %>
        <%= form_for @contact, url: back_contacts_path do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.submit "入力画面に戻る", class: "btn btn btn-primary" %></div>
        <% end %>
    </div>
  </div>
</div>