<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-5">
    <h2><i class="fas fa-handshake"></i>募集一覧ページ</h2>


    <%#= search_form_for @q do |f| %>
      <%#= f.label :name_cont %>
      <%#= f.search_field :name_cont %>
      <%#= f.submit "検索する", class: "btn btn-info" %>
    <%# end %>


    <% @posts.each do |post| %>
    <div class="card-wrapper">
      <div class="profile-image">
        <% if post.user.profile_image.attached? %>
          <%= image_tag post.user.profile_image, size: "80x80", class: "rounded-circle" %>
        <% else %>
          <%= image_tag 'no_image', size: "80x80", class: "rounded-circle" %>
        <% end %><br>
        <%= post.user.name %>
      </div>

      <div class="card-main">
        <%= link_to post_path(post.id) do %>
          <div class="post_title">
            <p class="badge badge-pill badge-success"><%= post.title %></p>
          </div>
            <p class="text-dark"><%= post.caption %></p>
          <div class="d-flex">
            <div id="favorite_btn_<%= post.id %>">
              <%= render partial: "public/favorites/favorite", locals: { post: post } %>
            </div>
            <div class="mx-2">
              <i class="fas fa-comment-dots"></i><%= link_to "#{post.comments.count}コメント", post_path(post.id), class: "text-dark" %>
            </div>
          </div>
          <div class="bottom_right">
            <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <%= paginate @posts %>
    </div>
  </div>
</div>