<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-5">
      <h2><i class="fab fa-readme"></i>投稿詳細</h2>
       <table class="table">
        <tbody>
          <tr>
            <th class="col-3">募集ユーザー</th>
            <td class="col-9"><%= link_to user_path(@post.user.id) do %><%= @post.user.name %><% end %></td>
          </tr>
          <tr>
            <th class="col-3">募集タイトル</th>
            <td class="col-9"><%= @post.title %></td>
          </tr>
          <tr>
            <th class="col-3">募集内容</th>
            <td class="col-9"><%= @post.caption %></td>
          </tr>
          <tr>
            <th class="col-3">使用機種</th>
            <td class="col-9"><%= @post.user.device %></td>
          </tr>
          <tr>
            <th class="col-3">投稿日時</th>
            <td class="col-9"><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
          <tr>
            <th class="col-3">更新日時</th>
            <td class="col-9"><%= @post.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
        </tbody>
      </table>
      <div>>
        <%= link_to "削除する", admin_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </div>


      <table class="table text-center">
        <p>コメント<%= @post.comments.count %>件</p>
        <% @post.comments.each do |comment| %>
          <% if comment.user.profile_image.attached? %>
            <%= image_tag comment.user.profile_image, size: "50x50", class: "rounded-circle" %>
          <% else %>
            <%= image_tag 'no_image', size: "50x50", class: "rounded-circle" %>
          <% end %>
          <%= comment.user.name %>
          <%= comment.comment %>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
          <%= link_to "コメントを削除する", admin_post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </table>
   </div>
  </div>
</div>