<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-5">
      <h2><i class="fas fa-users" %></i>ユーザー一覧</h2>
        <table class="table text-center">
        <% @users.each do |user| %>
          <tr>
            <td>
              <% if user.profile_image.attached? %>
                <%= image_tag user.profile_image, size: "150x150", class: "rounded-circle" %>
              <% else %>
                <%= image_tag 'no_image', size: "150x150", class: "rounded-circle" %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_path(user) do %>
                <%= user.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </table>
      <%= paginate @users %>
    </div>
  </div>
  </div>