<div class="row mt-5">
  <div class="col-6 offset-3">
    <h2 class="text-center mb-4"><i class="fas fa-user-edit"></i>プロフィール編集</h2>
    <div class="notification">
      <h5 class="notice"><%= notice %></h5>
    </div>
    <%= form_with model: @user do |f| %>
      <div class="form-group">
        <label for="name">ユーザーネーム</label>
        <%= f.text_field :name, autofocus: true, id: "name", placeholder: "名前（2文字以上）", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="gender">性別</label><br>
          <%= f.label :man, "男性" %>
          <%= f.radio_button :gender, :man %>
          <%= f.label :woman, "女性" %>
          <%= f.radio_button :gender, :woman %>
          <%= f.label :secret, "非表示" %>
          <%= f.radio_button :gender, :secret %>
      </div>
      <div class="form-group">
        <label for="profile_image">プロフィール画像</label><br>
        <%= f.file_field :profile_image, accept: "image/*" %><br>
      </div>
      <div class="form-group">
        <label for="gameid">ゲームID</label>
        <%= f.text_field :gameid, placeholder: "使用中のID", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="device">使用機種</label>
        <%= f.text_field :device, placeholder: "PCやPS5など", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="voicechat">ボイスチャット</label>
        <%= f.text_field :voicechat, placeholder: "有りor無し", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="playstyle">プレイスタイル</label>
        <%= f.text_field :playstyle, placeholder: "エンジョイやガチなど", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="playtime">プレイ時間帯</label>
        <%= f.text_field :playtime, placeholder: "普段遊んでいる時間帯", class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="caption">自己紹介文</label>
        <%= f.text_area :caption, placeholder: "400文字以内で記入してください", class: "form-control form-control-lg" %>
      </div>
      <%= f.submit "変更を保存する", class: "btn btn-lg btn-primary btn-block mb-3" %>
    <% end %>
  </div>
</div>