<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-5">
      <% if @user == current_user %>
        <h2><i class="fas fa-users" %></i><%= current_user.name %>のフォロワー一覧</h2>
      <% else %>
        <h2><i class="fas fa-users" %></i><%= @user.name %>さんをフォローしているユーザー一覧</h2>
      <% end %>

      <table class="table text-center">
        <% @users.each do|user| %>
          <tr>
            <td>
              <% if user.profile_image.attached? %>
                <%= image_tag user.profile_image, size: "100x100", class: "rounded-circle" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100", class: "rounded-circle" %>
              <% end %>
            </td>
            <td>
              <%= link_to user_path(user) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td>
             <div id="follow_btn_<%= user.id %>">
                <%= render partial: "public/relationships/follow", locals: {user: user} %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>