<!DOCTYPE html>
<html>
  <head>
    <title>WelcomeGamers!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--#ログイン前トップ画面にはheaderを非表示-->
    <% if user_signed_in? || admin_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
    <!--<div class="notification">-->
    <!--  <h5 class="notice"><%#= notice %></h5>-->
    <!--</div>-->
    <%= yield %>
    <!--<span id="back">-->
    <!--  <a href="">-->
    <!--    <%#= image_tag asset_path('arrow.png'), data: {"turbolinks"=>false}, class: "arrow" %>-->
    <!--  </a>-->
    <!--</span>-->
    <%= render 'layouts/footer' %>
  </body>
</html>
